body{
  margin:0;
  font-family: "Segoe UI", Arial, sans-serif;
  background:#f4f6fb;
}

/* ---------- TOOLBAR ---------- */
.toolbar{
  position:fixed;
  top:0; left:0; right:0;
  background:#ffffff;
  padding:10px 15px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  box-shadow:0 2px 8px rgba(0,0,0,.1);
  z-index:10;
}

.appTitle{
  font-weight:700;
  font-size:17px;
  color:#1f2933;
}

/* Home toolbar actions */
.actions{
  display:flex;
  gap:8px;
}

.actions button{
  border:none;
  background:#2563eb;
  color:#fff;
  width:36px;
  height:36px;
  border-radius:50%;
  font-size:18px;
  cursor:pointer;
  box-shadow:0 2px 6px rgba(0,0,0,.2);
}

/* ---------- TREE ---------- */
#tree{
  width:100vw;
  height:calc(100vh - 60px);
  margin-top:60px;
}

/* ---------- NODE ---------- */
.node rect{
  fill:#ffffff;
  stroke:#2563eb;
  stroke-width:2px;
  rx:10;
  ry:10;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,.15));
}

.node text{
  fill:#111;
  font-size:12px;
  pointer-events:none;
  font-weight:600;
}

.node:hover rect{
  stroke:#16a34a;
  stroke-width:3px;
}

/* ---------- LINKS ---------- */
.link{
  fill:none;
  stroke:#9ca3af;
  stroke-width:2px;
}
/*-------SEARCH BAR----------*/
.searchInput{
  border:1px solid #d1d5db;
  border-radius:20px;
  padding:6px 12px;
  font-size:13px;
  width:120px;
}

/* ---------- ADD PAGE ---------- */
.addBar{
  justify-content:space-between;
}

.backBtn{
  border:none;
  background:#2563eb;
  color:#fff;
  padding:6px 14px;
  border-radius:20px;
  font-size:14px;
}

.addPage{
  margin:90px 15px 15px;
  background:#fff;
  border-radius:20px;
  padding:20px;
  box-shadow:0 8px 20px rgba(0,0,0,.15);
}

.addPage h2{
  text-align:center;
  margin-bottom:15px;
  color:#1f2933;
}

.addPage input, 
.addPage select{
  width:100%;
  margin-bottom:10px;
  padding:12px;
  border-radius:10px;
  border:1px solid #d1d5db;
  font-size:14px;
}

.addPage button{
  width:100%;
  background:#16a34a;
  color:#fff;
  border:none;
  padding:12px;
  border-radius:12px;
  font-size:16px;
  font-weight:600;
  cursor:pointer;
  box-shadow:0 4px 10px rgba(0,0,0,.2);
}

/* Search highlight */
.node.search-match rect{
  stroke: #16a34a !important;
  stroke-width: 4px !important;
  fill: #ecfdf5;
}
